.kube
**.tar.gz
**/bin/fly
**__pycache__

vault_pass.txt
sudo_pass.txt
ansible_win_user_pass.txt
ai/langchain/openai_password.txt
ai/summary_images/openai_password.txt
ai/rag-stack
nohup.out
**/*.csv
**/jumpcr.*
**/jumpcr-*.*
**/dellemc-cyber-recovery-*