apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ ca_certificate_base64.stdout }}"
    server: https://{{ groups['masters'][0] }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: "{{ kubernetes_user_name }}"
  name: "{{ kubernetes_user_name }}-ctx"
current-context: "{{ kubernetes_user_name }}-ctx"
kind: Config
preferences: {}
users:
- name: "{{ kubernetes_user_name }}"
  user:
    client-certificate-data: "{{ certificate_base64.stdout }}"
    client-key-data: "{{ key_base64.stdout }}"
